streamlit==1.45.1

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16

pypdf==4.3.1
pymupdf==1.26.0

sentence-transformers==2.7.0
faiss-cpu==1.13.0

chromadb==0.5.5
numpy==1.26.4

langchain-groq==0.1.9
protobuf==3.20.3